@import url("https://fonts.googleapis.com/css?family=Lobster|Satisfy&display=swap");
@font-face {
  font-family: 'Bodoni 72';
  src: url("/fonts/Bodoni 72.ttc");
}

/* Global */
body, html {
  width: 100%;
  position: relative;
  overflow-x: hidden !important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Satisfy', cursive;
  overflow-x: hidden;
}

h1 {
  font-size: 64px;
}

h2 {
  color: #0B92E4;
  border-bottom: 1px solid #D1D1D1;
}

h2, h4 {
  font-size: 42px;
  font-family: 'Lobster', cursive;
  font-weight: 100;
}

h3 {
  font-size: 16px;
}

h6 {
  color: #005DA1;
  font-size: 24px;
  font-weight: bold;
}

p {
  font-size: 16px;
}

/* Navigation */
.nav-link {
  padding: 10px 20px;
  color: #ffffff;
  text-shadow: 2px 3px 6px #000000cc;
  text-decoration: none;
  border: 2px solid transparent;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.nav-link:hover {
  border: 2px solid #ffffff;
}

/* Line */
.line {
  height: 1px;
  width: 200px;
  margin-left: 20px;
  background-color: #D1D1D1;
}

/* Arrow Button */
.arrow-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}

.arrow-link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #005DA1;
  font-weight: 400;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.arrow-link a i {
  margin-left: 20px;
  color: black;
}

.arrow-link a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* Background Images */
.bg-image {
  position: absolute;
  z-index: -1;
}

/* Sections */
.section-container {
  width: 90%;
  max-width: 1500px;
  margin: 100px auto 0px;
}

.section-container .headline-container {
  width: 50%;
  padding: 20px;
}

.section-container .center-headline {
  margin: 0 auto;
  text-align: center;
}

.section-container .right-headline {
  width: 40%;
  position: relative;
  left: 40%;
}

.section-container .headline-text-container {
  padding-top: 20px;
}

/* Menu Items */
.menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.menu-items .menu-item-container {
  background-color: #F2FAFF;
  width: 270px;
  margin: 10px;
}

.menu-items .menu-item-container .menu-item-image {
  width: 100%;
  height: 200px;
}

.menu-items .menu-item-container .menu-item-info {
  padding: 12px;
}

.menu-items .menu-item-container .menu-item-info .menu-item-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-items .menu-item-container .menu-item-info .menu-item-heading .menu-item {
  font-family: 'Lobster', cursive;
  font-size: 21px;
}

.menu-items .menu-item-container .menu-item-info .menu-item-heading .menu-price {
  color: #005DA1;
  font-weight: bold;
}

.menu-items .menu-item-container .menu-item-info .menu-item-description {
  margin-top: 20px;
}

.menu-items .full-menu-item {
  width: 100%;
  background-color: #F2FAFF;
}

.menu-items .full-menu-item .full-menu-item-description {
  margin-top: 10px;
}

/* Numbered Heading */
.number-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.number-heading h2 {
  border-bottom: none;
}

.number-heading-title {
  margin-left: 60px;
}

.number-heading-bm {
  margin-bottom: 40px;
}

/* Animation */
.animated {
  overflow-x: visible;
}

/* ----------------------- HOME PAGE ----------------------- */
/* Hero Section */
.hero-bg {
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* Burger */
}

.hero-bg .nav-links {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
}

.hero-bg .nav-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.hero-bg .nav-links ul li {
  list-style: none;
}

.hero-bg .nav-links ul li a {
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.hero-bg .nav-links ul li a:hover {
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
}

.hero-bg .nav-links ul img {
  width: 250px;
}

.hero-bg .burger {
  display: none;
}

.hero-bg .burger div {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hero-bg .hero-header {
  width: 90%;
  margin: 200px auto;
  text-align: center;
  color: #ffffff;
}

.hero-bg .hero-header img {
  display: none;
}

.hero-bg h1 {
  padding: 10px;
  text-shadow: 2px 3px 6px #000000cc;
}

.hero-bg .arrow-link a {
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.hero-bg .arrow-link a p, .hero-bg .arrow-link a i {
  padding: 8px;
  color: #ffffff;
  text-shadow: 2px 3px 6px #000000cc;
}

.hero-bg .arrow-link a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* Background Images */
.home-bg {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), to(white)), url("../images/las-marietas-islands.jpg");
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), white), url("../images/las-marietas-islands.jpg");
}

.menu-bg {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), to(white)), url("../images/menu-hero-bg.jpg");
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), white), url("../images/menu-hero-bg.jpg");
}

.contact-bg {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), to(white)), url("../images/contact-hero-bg.jpg");
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), white), url("../images/contact-hero-bg.jpg");
}

/* Background Images */
.welcome-tree-bg {
  width: 400px;
  left: -100px;
  margin-top: 50px;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

/* Welcome Section */
.welcome-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.welcome-section img {
  width: 400px;
}

.welcome-section .welcome-container {
  margin-left: 50px;
}

.welcome-section .welcome-container img {
  position: absolute;
  margin-top: -70px;
  margin-left: 50px;
  opacity: 0.07;
  z-index: -10;
}

/* Order Section */
.order-section {
  width: 100%;
  max-width: none;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../images/order-bg.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/order-bg.jpg");
  background-position: center;
  background-size: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-section .order-container {
  width: 70%;
  max-width: 1200px;
  margin: 100px auto;
  color: #ffffff;
  text-align: center;
}

.order-section .order-container h2 {
  width: 250px;
  margin: 0 auto;
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

.order-section .order-container p {
  margin-top: 0px;
}

.order-section .order-container .order-outlets-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin: 20px auto 0px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: rgba(255, 255, 255, 0.7);
}

.order-section .order-container .order-outlets-container img {
  height: 80px;
  margin: 20px;
}

.order-section .order-container .arrow-link a p, .order-section .order-container .arrow-link a i {
  padding: 5px;
  color: #ffffff;
  text-shadow: 2px 3px 6px #000000cc;
}

/* Favorites Section */
.favorite-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.favorite-container img {
  width: 50%;
  margin: 10px;
}

.favorite-container .favorite-item-box {
  width: 50%;
  padding: 20px;
}

.favorite-container .favorite-item-box img {
  position: absolute;
  width: 300px;
  height: auto;
  margin-top: -50px;
  opacity: 0.07;
  z-index: -10;
}

.flex-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

/* Background Images */
.events-drink-bg {
  width: 800px;
  left: -340px;
  margin-top: 60px;
}

/* Events Section */
.events-container .event-box {
  max-width: 800px;
  margin: 0px auto 20px;
  background-color: #F2FAFF;
}

.events-container .event-box img {
  width: 100%;
}

.events-container .event-box .event-info-box {
  padding: 20px;
}

.events-container .event-box .event-info-box .event-title {
  font-family: 'Lobster', cursive;
  font-size: 21px;
  font-weight: 900;
  text-align: center;
}

/* Footer */
footer {
  margin-top: 100px;
  background-color: #0B92E4;
}

footer .footer-container {
  width: 90%;
  max-width: 1500px;
  margin: 40px auto;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .footer-container .footer-heading {
  font-size: 21px;
  font-family: 'Lobster', cursive;
  color: #ffffff;
  border-bottom: 1px solid #69C5FF;
  margin-bottom: 16px;
}

footer .footer-container .icon-info {
  margin-top: 6px;
}

footer .footer-container .icon-info i {
  color: #ffffff;
}

footer .footer-container .icon-info a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 20px;
}

footer .footer-container .hours-container p {
  margin-bottom: 6px;
}

.subfooter {
  margin-top: 50px;
  background-color: #0B92E4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subfooter .footer-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px auto;
}

.subfooter .footer-container a {
  color: #000000;
  text-decoration: none;
}

.subfooter .follow-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subfooter .follow-icons a {
  color: #ffffff;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.subfooter .follow-icons a:hover {
  color: black;
}

.subfooter .follow-icons i {
  margin-left: 20px;
}

/* ----------------------- MENU PAGE ----------------------- */
/* Background Images */
.breakfast-bg {
  width: 500px;
  right: -230px;
  margin-top: 100px;
  z-index: -90;
}

.leaf-ht {
  width: 300px;
  right: -100px;
}

.flip-bg {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.left-side-bg {
  left: -160px;
}

/* Menu Selector */
.menu-selector #crab-1 {
  position: absolute;
  width: 250px;
  opacity: 0.07;
  z-index: -999;
}

.menu-selector #crab-2 {
  position: absolute;
  width: 150px;
  margin-top: 250px;
  right: 10%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  opacity: 0.07;
  z-index: -999;
}

.menu-selector #crab-3 {
  position: absolute;
  width: 90px;
  margin-top: 350px;
  right: 40%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  opacity: 0.07;
  z-index: -999;
}

.menu-selector #crab-4 {
  position: absolute;
  width: 60px;
  margin-top: 300px;
  right: 60%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  opacity: 0.07;
  z-index: -999;
}

.menu-selector #crab-5 {
  position: absolute;
  width: 120px;
  margin-top: 230px;
  right: 80%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  opacity: 0.07;
  z-index: -999;
}

#menuBtnContainer {
  width: 90%;
  max-width: 1500px;
  margin: 20px auto 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.container {
  overflow: hidden;
}

.filterDiv {
  display: none;
}

.show {
  display: block;
}

.btn {
  border: none;
  outline: none;
  padding: 10px;
  margin: 6px;
  width: 100px;
  height: 80px;
  background-color: #69C5FF;
  color: white;
  cursor: pointer;
  z-index: 10;
}

.btn:hover {
  background-color: #0B92E4;
}

.btn.active {
  background-color: #0B92E4;
  color: white;
}

/* ----------------------- CONTACT PAGE ----------------------- */
/* Map Section */
.map-section .map-image {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  background-image: url("../images/islas-marietas-map.png");
  background-position: center;
  background-repeat: no-repeat;
}

.map-section footer {
  margin-top: 0;
}

/* Media Queries */
@media only screen and (max-width: 732px) {
  /* Global */
  h1 {
    font-size: 42px;
  }
  .line {
    width: 100px;
    margin-left: 20px;
  }
  /* Numbered Heading */
  .number-heading-title {
    margin-left: 20px;
  }
  /* Sections */
  .section-container .headline-container {
    width: 100%;
  }
  .section-container .center-headline {
    margin: 0 auto;
    text-align: center;
  }
  .section-container .right-headline {
    width: 100%;
    left: 0%;
  }
  .section-container .headline-text-container {
    padding-top: 20px;
  }
  /* Hero Section */
  .hero-bg {
    /* Burger */
  }
  .hero-bg .nav-links {
    position: fixed;
    right: 0;
    height: 100vh;
    top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #0B92E4;
    width: 50%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    z-index: 998;
  }
  .hero-bg .nav-links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 95%;
    opacity: 1;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .hero-bg .nav-links ul .nav-link {
    text-shadow: none;
    font-size: 21px;
  }
  .hero-bg .nav-links ul img {
    display: none;
  }
  .hero-bg .burger {
    display: block;
    position: fixed;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 5%;
    top: 25px;
    padding: 5px;
    background: #0B92E4;
    cursor: pointer;
    z-index: 999;
  }
  .hero-bg .hero-header {
    margin: 100px auto;
  }
  .hero-bg .hero-header img {
    display: inline-block;
    position: relative;
    width: 60%;
    top: -10px;
  }
  /* Welcome */
  .welcome-tree-bg {
    width: 200px;
    left: -50px;
  }
  .welcome-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .welcome-section img {
    width: 90%;
  }
  .welcome-section .welcome-container {
    margin-left: 0px;
    width: 100%;
  }
  .welcome-section .welcome-container img {
    width: 50%;
    margin-top: 0px;
    margin-left: 15%;
  }
  .favorite-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .favorite-container img {
    height: 250px;
    width: auto;
  }
  .favorite-container .favorite-item-box img {
    width: 250px;
    margin-top: 0px;
  }
  /* Order Section */
  .order-section .order-container .order-outlets-container img {
    height: 60px;
    margin: 5px;
  }
  .order-section .order-container h2 {
    width: 90%;
  }
  /* Favorites Section */
  .favorite-container img {
    width: 100%;
    height: 100%;
  }
  .favorite-container .favorite-item-box {
    width: 100%;
  }
  /* Events Section */
  .events-drink-bg {
    width: 300px;
    left: -130px;
    margin-top: 140px;
  }
  /* Footer */
  footer .footer-container {
    width: 90%;
    text-align: left;
    display: block;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .footer-container .contact-container {
    margin-bottom: 20px;
  }
  /* Subfooter */
  .subfooter .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .subfooter .follow-icons {
    margin-bottom: 20px;
  }
  /* ----------------------- MENU PAGE ----------------------- */
  /* Background Images */
  .breakfast-bg {
    width: 250px;
    right: -110px;
    opacity: 0.5;
  }
  .left-side-bg {
    left: -50px;
  }
  /* Menu Selector */
  .menu-selector #crab-1 {
    width: 350px;
  }
  .menu-selector #crab-2 {
    margin-top: 450px;
  }
  .menu-selector #crab-3 {
    margin-top: 420px;
  }
  .menu-selector #crab-4 {
    margin-top: 450px;
  }
  .menu-selector #crab-5 {
    margin-top: 400px;
  }
  /* Burger Toggles */
  .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  @-webkit-keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  .toggle .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
}

@media only screen and (max-width: 668px) {
  /* Menu Items */
  .menu-items {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu-items .menu-item-container {
    width: 45%;
  }
  .menu-items .menu-item-container .menu-item-image {
    height: 170px;
  }
  .menu-items .full-menu-item {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  /* Hero Section */
  .hero-bg {
    min-height: 100vh;
  }
  /* Menu Items */
  .menu-items .menu-item-container {
    width: 100%;
  }
  .menu-items .menu-item-container .menu-item-image {
    height: auto;
  }
  /* Menu Selector */
  .menu-selector #crab-1 {
    width: 300px;
  }
  .menu-selector #crab-2 {
    width: 150px;
    margin-top: 550px;
    right: 0;
  }
  .menu-selector #crab-3 {
    margin-top: 500px;
  }
  .menu-selector #crab-4 {
    margin-top: 570px;
  }
  .menu-selector #crab-5 {
    margin-top: 550px;
  }
}
/*# sourceMappingURL=stylesheet.css.map */