@font-face {
    font-family: 'Bodoni 72';
    src: url('/fonts/Bodoni\ 72.ttc');
}
@import url('https://fonts.googleapis.com/css?family=Lobster|Satisfy&display=swap');
/* Global */
$whiteText: #ffffff;
$mainColor: #0B92E4;
$secondaryColor: #005DA1;
$boxColor: #F2FAFF;
$mainColorLight: #69C5FF;
$headerLine: #D1D1D1;
$textShadow: 2px 3px 6px #000000cc;
$mainTransition: 0.3s ease all;
$transitionScale: scale(1.1);
body, html {
    width: 100%;
    position: relative;
    overflow-x: hidden !important;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satisfy', cursive;
    overflow-x: hidden;
}
h1 {
    font-size: 64px;
}
h2 {
    color: $mainColor;
    border-bottom: 1px solid $headerLine;
}
h2, h4 {
    font-size: 42px;
    font-family: 'Lobster', cursive;
    font-weight: 100;
}
h3 {
    font-size: 16px;
}
h6 {
    color: $secondaryColor;
    font-size: 24px;
    font-weight: bold;
}
p {
    font-size: 16px;
}
/* Navigation */
.nav-link {
    padding: 10px 20px;
    color: $whiteText;
    text-shadow: $textShadow;
    text-decoration: none;
    border: 2px solid transparent;
    transition: $mainTransition;
}
.nav-link:hover {
    border: 2px solid $whiteText;
}
/* Line */
.line {
    height: 1px;
    width: 200px;
    margin-left: 20px;
    background-color: $headerLine;
}
/* Arrow Button */
.arrow-link {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $secondaryColor;
        font-weight: 400;
        transition: $mainTransition;
        i {
            margin-left: 20px;
            color: black;
        }
    }
    a:hover {
        transform: $transitionScale;
    }
}
/* Background Images */
.bg-image {
    position: absolute;
    z-index: -1;
}
/* Sections */
.section-container {
    width: 90%;
    max-width: 1500px;
    margin: 100px auto 0px;
    .headline-container {
        width: 50%;
        padding: 20px;
    }
    .center-headline {
        margin: 0 auto;
        text-align: center;
    }
    .right-headline {
        width: 40%;
        position: relative;
        left: 40%;
    }
    .headline-text-container {
        padding-top: 20px;
    }
}
/* Menu Items */
.menu-items {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    .menu-item-container {
        background-color: #F2FAFF;
        width: 270px;
        margin: 10px;
        .menu-item-image {
            width: 100%;
            height: 200px;
        }
        .menu-item-info {
            padding: 12px;
            .menu-item-heading {
                display: flex;
                flex-flow: wrap;
                justify-content: space-between;
                .menu-item {
                    font-family: 'Lobster', cursive;
                    font-size: 21px;
                }
                .menu-price {
                    color: $secondaryColor;
                    font-weight: bold;
                }
            }
            .menu-item-description {
                margin-top: 20px;
            }
    
        }
}
.full-menu-item {
    width: 100%;
    background-color: #F2FAFF;
    .full-menu-item-description {
        margin-top: 10px;
    }
}
}
/* Numbered Heading */
.number-heading {
    display: flex;
    align-items: center;
    h2 {
        border-bottom: none;
    }
}
.number-heading-title {
    margin-left: 60px;
}
.number-heading-bm {
    margin-bottom: 40px;
}
/* Animation */
.animated {
    overflow-x: visible;
}

/* ----------------------- HOME PAGE ----------------------- */
/* Hero Section */
.hero-bg {
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .nav-links {
        width: 90%;
        max-width: 1500px;
        margin: 0 auto;
        ul {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            li {
                list-style: none;
                a {
                    transition: 0.5s ease all;
                }
                a:hover {
                    transform: translateX(-300px);
                }
            }
            img {
                width: 250px;
            }
        }
    }
    /* Burger */
    .burger {
        display: none;
        div {
            width: 25px;
            height: 3px;
            background-color: #ffffff;
            margin: 5px;
            transition: all 0.3s ease;
        }
    }
    .hero-header {
        width: 90%;
        margin: 200px auto;
        text-align: center;
        color: $whiteText;
        img {
            display: none;
        }
    }
    h1 {
        padding: 10px;
        text-shadow: $textShadow;
    }
    .arrow-link {
        a {
            transition: $mainTransition;
            p, i {
                padding: 8px;
                color: $whiteText;
                text-shadow: $textShadow;
            }
        }
        a:hover {
            transform: $transitionScale;
        }
    }
}
/* Background Images */
.home-bg {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 1)), url("../images/las-marietas-islands.jpg");
}
.menu-bg {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 1)), url("../images/menu-hero-bg.jpg");
}
.contact-bg {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 1)), url("../images/contact-hero-bg.jpg");
}


/* Background Images */
.welcome-tree-bg {
    width: 400px;
    left: -100px;
    margin-top: 50px;
    transform: rotate(10deg);
}

/* Welcome Section */
.welcome-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    img {
        width: 400px;
    }
    .welcome-container {
        margin-left: 50px;
        img {
            position: absolute;
            margin-top: -70px;
            margin-left: 50px;
            opacity: 0.07;
            z-index: -10;
        }
    }
}

/* Order Section */
.order-section {
    width: 100%;
    max-width: none;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/order-bg.jpg");
    background-position: center;
    background-size: cover;
    align-items: center;
    .order-container {
        width: 70%;
        max-width: 1200px;
        margin: 100px auto;
        color: $whiteText;
        text-align: center;
        h2 {
            width: 250px;
            margin: 0 auto;
            color: $whiteText;
            border-bottom: 2px solid $whiteText;
        }
        p {
            margin-top: 0px;
        }
        .order-outlets-container {
            display: flex;
            flex-flow: wrap;
            margin: 20px auto 0px;
            justify-content: space-evenly;
            background: rgba(255, 255, 255, 0.7);
            img {
                height: 80px;
                margin: 20px;
            }
        }
        .arrow-link {
            a {
                p, i {
                    padding: 5px;
                    color: $whiteText;
                    text-shadow: $textShadow;
                }
            }
        }
    }
}

/* Favorites Section */
.favorite-container {
    display: flex;
    align-items: center;
    img {
        width: 50%;
        margin: 10px;
    }
    .favorite-item-box {
        width: 50%;
        padding: 20px;
        img {
            position: absolute;
            width: 300px;
            height: auto;
            margin-top: -50px;
            opacity: 0.07;
            z-index: -10;
        }
    }
}
.flex-reverse {
    flex-direction: row-reverse;
}

/* Background Images */
.events-drink-bg {
    width: 800px;
    left: -340px;
    margin-top: 60px;
}

/* Events Section */
.events-container {
    .event-box {
        max-width: 800px;
        margin: 0px auto 20px;
        background-color: $boxColor;
        img {
            width: 100%;
        }
        .event-info-box {
            padding: 20px;
            .event-title {
                font-family: 'Lobster', cursive;
                font-size: 21px;
                font-weight: 900;
                text-align: center;
            }
        }
    }
}

/* Footer */
footer {
    margin-top: 100px;
    background-color: $mainColor;
    .footer-container {
        width: 90%;
        max-width: 1500px;
        margin: 40px auto;
        color: $whiteText;
        display: flex;
        justify-content: space-around;
        .footer-heading {
            font-size: 21px;
            font-family: 'Lobster', cursive;
            color: $whiteText;
            border-bottom: 1px solid $mainColorLight;
            margin-bottom: 16px;
        }
        .icon-info {
            margin-top: 6px;
            i {
                color: $whiteText;
            }
            a {
                color: $whiteText;
                text-decoration: none;
                margin-left: 20px;
            }
        }
        .hours-container {
            p {
                margin-bottom: 6px;
            }
        }
    }
}
.subfooter {
    margin-top: 50px;
    background-color: $mainColor;
    align-items: center;
    .footer-container {
        align-items: center;
        margin: 20px auto;
        a {
            color: #000000;
            text-decoration: none;
        }
    }
    .follow-icons {
        display: flex;
        align-items: center;
        a {
            color: $whiteText;
            transition: $mainTransition;
        }
        a:hover {
            color: black;
        }
        i {
            margin-left: 20px;
        }
    }
}


/* ----------------------- MENU PAGE ----------------------- */
/* Background Images */
.breakfast-bg {
    width: 500px;
    right: -230px;
    margin-top: 100px;
    z-index: -90;
}
.leaf-ht {
    width: 300px;
    right: -100px;
}
.flip-bg {
    transform: scaleX(-1);
}
.left-side-bg {
    left: -160px;
}

/* Menu Selector */
.menu-selector {
    #crab-1 {
        position: absolute;
        width: 250px;
        opacity: 0.07;
        z-index: -999;
    }
    #crab-2 {
        position: absolute;
        width: 150px;
        margin-top: 250px;
        right: 10%;
        transform: scaleX(-1);
        opacity: 0.07;
        z-index: -999;
    }
    #crab-3 {
        position: absolute;
        width: 90px;
        margin-top: 350px;
        right: 40%;
        transform: scaleX(-1);
        opacity: 0.07;
        z-index: -999;
    }
    #crab-4 {
        position: absolute;
        width: 60px;
        margin-top: 300px;
        right: 60%;
        transform: scaleX(-1);
        opacity: 0.07;
        z-index: -999;
    }
    #crab-5 {
        position: absolute;
        width: 120px;
        margin-top: 230px;
        right: 80%;
        transform: scaleX(-1);
        opacity: 0.07;
        z-index: -999;
    }
}

#menuBtnContainer {
    width: 90%;
    max-width: 1500px;
    margin: 20px auto 0px;
    display: flex;
    flex-flow: wrap;
}
.container {
    overflow: hidden;
}
.filterDiv {
    display: none;
}
.show {
    display: block;
}
.btn {
    border: none;
    outline: none;
    padding: 10px;
    margin: 6px;
    width: 100px;
    height: 80px;
    background-color: $mainColorLight;
    color: white;
    cursor: pointer;
    z-index: 10;
}
.btn:hover {
    background-color: $mainColor;
}
.btn.active {
    background-color: $mainColor;
    color: white;
}

/* ----------------------- CONTACT PAGE ----------------------- */
/* Map Section */
.map-section {
    .map-image {
        width: 100%;
        height: 300px;
        margin: 0 auto;
        background-image: url("../images/islas-marietas-map.png");
        background-position: center;
        background-repeat: no-repeat;
        transition: $mainTransition;
    }
    .map-image:hover {
        transform: scale(1.02);
    }
    footer {
        margin-top: 0;
    }
}





/* Media Queries */
@media only screen and (max-width: 732px) {
    /* Global */
    h1 {
        font-size: 42px;
    }
    .line {
        width: 100px;
        margin-left: 20px;
    }
    /* Numbered Heading */
    .number-heading-title {
        margin-left: 20px;
    }
    /* Sections */
    .section-container {
        .headline-container {
            width: 100%;
        }
        .center-headline {
            margin: 0 auto;
            text-align: center;
        }
        .right-headline {
            width: 100%;
            left: 0%;
        }
        .headline-text-container {
            padding-top: 20px;
        }
    }
    /* Hero Section */
    .hero-bg {
        .nav-links {
            position: fixed;
            right: 0;
            height: 100vh;
            top: 0px;
            display: flex;
            background: $mainColor;
            width: 50%;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
            z-index: 998;
            ul {
                flex-direction: column;
                align-items: center;
                width: 95%;
                opacity: 1;
                justify-content: space-evenly;
                .nav-link {
                    text-shadow: none;
                    font-size: 21px;
                }
                img {
                    display: none;
                }
            }
        }
        /* Burger */
        .burger {
            display: block;
            position: fixed;
            align-items: center;
            right: 5%;
            top: 25px;
            padding: 5px;
            background: $mainColor;
            cursor: pointer;
            z-index: 999;
        }
        .hero-header {
            margin: 100px auto;
            img {
                display: inline-block;
                position: relative;
                width: 60%;
                top: -10px;
            }
        }
    }
    /* Welcome */
    .welcome-tree-bg {
        width: 200px;
        left: -50px;
    }
    .welcome-section {
        flex-flow: column;
        img {
            width: 90%;
        }
        .welcome-container {
            margin-left: 0px;
            width: 100%;
            img {
                width: 50%;
                margin-top: 0px;
                margin-left: 15%;
            }
        }
    }
    .favorite-container {
        flex-direction: column-reverse;
        img {
            height: 250px;
            width: auto;
        }
        .favorite-item-box {
            img {
                width: 250px;
                margin-top: 0px;
            }
        }
    }
    /* Order Section */
    .order-section {
        .order-container {
            .order-outlets-container {
                img {
                    height: 60px;
                    margin: 5px;
                }
            }
            h2 {
                width: 90%;
            }
        }
    }
    /* Favorites Section */
    .favorite-container {
        img {
            width: 100%;
            height: 100%;
        }
        .favorite-item-box {
            width: 100%;
        }
    }
    /* Events Section */
    .events-drink-bg {
        width: 300px;
        left: -130px;
        margin-top: 140px;
    }
    /* Footer */
    footer {
        .footer-container {
            width: 90%;
            text-align: left;
            display: block;
            justify-content: space-around;
            .contact-container {
                margin-bottom: 20px;
            }
        }
    }
    /* Subfooter */
    .subfooter {
        .footer-container {
            display: flex;
            text-align: center;
            flex-direction: column-reverse;
    }
    .follow-icons {
        margin-bottom: 20px;
    }
}
    /* ----------------------- MENU PAGE ----------------------- */
    /* Background Images */
    .breakfast-bg {
        width: 250px;
        right: -110px;
        opacity: 0.5;
    }
    .left-side-bg {
        left: -50px;
    }

    /* Menu Selector */
    .menu-selector {
        #crab-1 {
            width: 350px;
        }
        #crab-2 {
            margin-top: 450px;
        }
        #crab-3 {
            margin-top: 420px;
        }
        #crab-4 {
            margin-top: 450px;
        }
        #crab-5 {
            margin-top: 400px;
        }
    }
    
    /* Burger Toggles */
    .nav-active {
        transform: translateX(0%);
    }

    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px)
        }
    }

    .toggle .line1{
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-5px, -6px);
    }
}



@media only screen and (max-width: 668px) {
    /* Menu Items */
    .menu-items {
        justify-content: space-between;
        .menu-item-container {
            width: 45%;
            .menu-item-image {
                height: 170px;
            }
        }
        .full-menu-item {
            width: 100%;
        }
    }
}


@media only screen and (max-width: 450px) {
    /* Hero Section */
    .hero-bg {
        min-height: 100vh;
    }
    /* Menu Items */
    .menu-items {
        .menu-item-container {
            width: 100%;
            .menu-item-image {
                height: auto;
            }
        }
    }
    /* Menu Selector */
    .menu-selector {
        #crab-1 {
            width: 300px;
        }
        #crab-2 {
            width: 150px;
            margin-top: 550px;
            right: 0;
        }
        #crab-3 {
            margin-top: 500px;
        }
        #crab-4 {
            margin-top: 570px;
        }
        #crab-5 {
            margin-top: 550px;
        }
    }
}